:root {
  --space: 10px;
  --line-height: 1.4em;
  --resistor-real-width: 250px;
  --resistor-real-height: 70px;
  --resistor-width: calc(var(--resistor-real-width) * 1);
  --resistor-height: calc(var(--resistor-real-height) * 1);
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  line-height: var(--line-height);
}

.container {
  display: flex;
  flex-direction: row;
}

.block {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.resistors__list {
  margin: var(--space);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black dashed;
  width: calc(var(--resistor-width));
  min-height: calc(var(--resistor-height) + var(--line-height));
}

.resistors__list--result {
  position: relative;
}

.resistors__list--result:empty:before {
  content: "Место для резистора";
}

.resistors__list--result:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  display: block;
  z-index: -2;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: calc((var(--resistor-height) - var(--space)) / 2) 0;
}

.resistors__list--result .resistors__item {
  margin: 0;
}

.resistors__item {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  align-content: center;
  padding: calc(var(--resistor-height) / 2) 0;
  margin: var(--space) 0;
  width: var(--resistor-width);
  transition: color 0.5s;
  user-select: none;
  cursor: not-allowed;
}

.resistors__item--background {
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  color: orange;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: block;
}

.resistors__item[draggable="false"] .resistors__item--background {
  color: tomato;
}

.resistors__item[draggable="true"] {
  cursor: move;
}

.selected {
  opacity: 0.6;
}

.switcher {
  visibility: hidden;
}
.switcher__label {
  -webkit-user-select: none;
  user-select: none;
}

.switcher:checked + * .switcher__scheme {
  transform: rotate(0) translate(7px);
}

.switcher__scheme {
  transform-origin: 77px 45px;
  transform: rotate(-15deg) translate(7px);
  transition: transform 0.3s;
}

.display {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: var(--space);
  padding: var(--space);
  max-width: calc(var(--resistor-width) / 2);
  margin: var(--space);
  color: #fff;
  border-radius: 1em;

}

.display__label {
  margin-top: var(--space);
  display: block;
  text-align: center;
  width: var(--line-height);
  height: var(--line-height);
  border-radius: 50%;
  background-color: darkgray;
}

.display__value {
  border-radius: var(--line-height);
  border: none;
  direction: rtl;
  padding: 0 0.25em;
  background-color: #000;
  color: #0f0;
  font-size: 1.5em;
  min-width: 0;
  max-width: 100%;
  outline-color: #0f0;
  -moz-outline-radius: 0.5em;
}

.lamp, .lamp * {
  stroke: black;
  transition: stroke-width 0.1s, fill 0.3s, transform ease-in-out 0.4s;
}

.active .lamp__lamp {
  transform: translate(0, 0);
}

.lamp__lamp {
  transform: translate(0, -10px);
}

.lamp__light {
  fill: transparent;
  stroke-width: 0;
}

.lamp__bulb, .lamp__base {
  fill: black;
  stroke-width: 0;
}

.active .lamp__bulb, .active .lamp__light {
  fill: #FFE75A;
  stroke-width: 1px;
}

.active .lamp__base {
  fill: silver;
  stroke-width: 1px;
}
