:root {
  --space: 10px;
  --line-height: 1.4em;
  --resistor-real-width: 250px;
  --resistor-real-height: 90px;
  --cel-width: 120px;
  --cel-height: 90px;
  --grid-column: 6;
  --grid-row: 5;
  --resistor-width: calc(var(--resistor-real-width));
  --resistor-height: calc(var(--resistor-real-height));
  --outline-color: orange;
  --padding: 36px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus-visible, select:focus-visible {
  outline: var(--outline-color) auto 1px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  line-height: var(--line-height);
}

html {
  padding: var(--padding);
  /*width: calc(100% + var(--padding) * 2);*/
  max-width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
}

.block {
  display: flex;
  flex-direction: column;
}

.resistors__list {
  /*margin: var(--space);*/
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black dashed;
  width: calc(var(--resistor-width));
  min-height: calc(var(--resistor-height));
}

.resistors__list--result {
  border: none;
  grid-column: 3 / 5;
  position: relative;
  margin: 0;
  width: var(--resistor-width);
  height: var(--cel-height);
}

.resistors__list--result:empty:before {
  content: "Место для резистора";
  background: rgba(0, 0, 0, 0.2);
}

.resistors__list--result:before {
  content: "";
  border: black dashed;
  display: block;
  z-index: -2;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: calc((var(--resistor-height) - var(--line-height) - 1px) / 2) 0;
}

.resistors__list--result .resistors__item {
  margin: 0;
}

.resistors__item {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  align-content: center;
  padding: calc((var(--resistor-height) - var(--line-height)) / 2) 0;
  margin: var(--space) 0;
  width: var(--resistor-width);
  transition: color 0.5s;
  user-select: none;
  cursor: not-allowed;
}

.resistors__item--background {
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  color: orange;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  display: block;
}

.active .resistors__item--background, .resistors__item[draggable="false"] .resistors__item--background {
  color: tomato;
}

.resistors__item[draggable="true"] {
  cursor: move;
}

.resistors__list--variant:before {
  border: none;
}

.selected {
  opacity: 0.6;
}

.switcher__label {
  -webkit-user-select: none;
  user-select: none;
}

.switcher:focus-visible + .switcher__switch{
  outline: var(--outline-color) auto 1px;
}

.switcher:checked + * .switcher__scheme {
  transform: rotate(0);
}

.switcher__scheme {
  transform-origin: 13px 45px;
  transform: rotate(-15deg);
  transition: transform 0.3s;
}

.display {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: var(--space);
  padding: var(--space) 0;
  overflow: hidden;
  width: var(--cel-width);
  height: var(--cel-height);
  color: #fff;
  border-radius: 1em;

}

.display__label {
  margin-top: var(--space);
  display: block;
  text-align: center;
  width: var(--line-height);
  height: var(--line-height);
  border-radius: 50%;
  background-color: darkgray;
  user-select: none;
}

.display__value {
  border: none;
  direction: rtl;
  padding: 0 var(--space) 0 0;
  margin: 0;
  background-color: #000;
  color: #0f0;
  font-size: 1.5em;
  width: var(--cel-width);
  -moz-outline-radius: 0.5em;
}

.lamp {
  overflow: visible;
}

.lamp, .lamp * {
  stroke: black;
  transition: stroke-width 0.1s, fill 0.2s, transform ease-in-out 0.2s;
}

.active .lamp__lamp {
  transform: translate(0, 0);
}

.lamp__lamp {
  transform: translate(0, -10px);
}

.lamp__light {
  fill: transparent;
  stroke-width: 0;
}

.lamp__bulb {
  fill: black;
  stroke-width: 0;
}

.lamp__base {
  fill: black;
  stroke-width: 1;
  stroke: black;
}

.active .lamp__bulb, .active .lamp__light {
  fill: #ffe75a;
  stroke-width: 1px;
}


.board {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(var(--grid-column), 120px);
  grid-template-rows: repeat(var(--grid-row), var(--cel-height));
  grid-gap: var(--space);
}

.wire, .wire * {
  stroke-width: 5;
  stroke: black;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.battery {
  overflow: visible;
}


.wire__circle {
  stroke: none;
  fill: black;
}

.variant {
  display: block;
  width: 100%;
  height: 2em;
  font-size: 1em;
}
